<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vatsal.kesarwani.therapy">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utility.App"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.TrackYourActivity"
            android:label="Track Your Activity"
            android:parentActivityName=".Activity.Setting"/>
        <activity
            android:name=".Activity.BlockActivity"
            android:label="Block Activity"
            android:parentActivityName=".Activity.Setting" />
        <activity
            android:name=".Activity.ChatActivity"
            android:parentActivityName=".Activity.MainScreen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.AddPost"
            android:label="Post" />
        <activity android:name=".Activity.CureProfile" />
        <activity
            android:name=".Activity.Editprofile"
            android:label="Edit Profile"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.AboutUs"
            android:label="About Developer"
            android:parentActivityName=".Activity.MainScreen" />
        <activity
            android:name=".Activity.Setting"
            android:label="Setting"
            android:parentActivityName=".Activity.MainScreen" />
        <activity
            android:name=".Activity.Profile"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Activity.MainScreen"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Activity.LoginScreen"
            android:label="Welcome" />
        <activity
            android:name=".Activity.Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>